.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #626262;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .cardContainer {
  display: flex;
  gap: 20px;
  align-items: center;
} */

.chartContainer {
  flex-shrink: 0;
}

.cardContainer > div {
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  text-align: center;
}

.pieChart {
  max-width: 200px;
  margin: auto;
}
